<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>BackendAdministrativePortal</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
  	<servlet-name>StudentList</servlet-name>
  	<servlet-class>com.school.StudentList</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>StudentList</servlet-name>
  	<url-pattern>/studentlist</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>SubjectList</servlet-name>
  	<servlet-class>com.school.SubjectList</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>SubjectList</servlet-name>
  	<url-pattern>/subjectlist</url-pattern>
  </servlet-mapping>
   <servlet>
  	<servlet-name>ClassReport</servlet-name>
  	<servlet-class>com.school.ClassReport</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ClassReport</servlet-name>
  	<url-pattern>/classreport</url-pattern>
  </servlet-mapping>
   <servlet>
  	<servlet-name>Handler</servlet-name>
  	<servlet-class>com.school.Handler</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Handler</servlet-name>
  	<url-pattern>/handler</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>ClassAssignForSubject</servlet-name>
  	<servlet-class>com.school.ClassAssignForSubject</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ClassAssignForSubject</servlet-name>
  	<url-pattern>/subject</url-pattern>
  </servlet-mapping>
   <servlet>
  	<servlet-name>TeacherAssign</servlet-name>
  	<servlet-class>com.school.TeacherAssign</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>TeacherAssign</servlet-name>
  	<url-pattern>/teacher</url-pattern>
  </servlet-mapping>
</web-app>